*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        background-color: rgb(249, 242, 236)
}
h1{
    text-align: center;
    font-style: normal ;
    font-size: 350%;
    color: rgb(51, 26, 0);
}
img
{
    border: 10px solid rgb(51, 26, 0);
    width: 30%;
    height: 20%;
}
h2{
    text-align: center;
    font-style: normal;
    font-size: 170%;
    color: rgb(77, 37, 0);
}
h3{
    text-align: center;
    font-style: normal;
    font-size: 100%;
    color: rgb(118, 34, 139);
}
h4{
    text-align: center;
    font-style: normal ;
    font-size: 70%;
    color: rgb(132, 0, 99);
}
h5{
    text-align: center;
    font-style: normal ;
    font-size: 70%;
    color: rgb(132, 0, 99);
    background: rgb(252, 222, 226);
 font-size: 20px;
}
marquee{
    border-radius: 90px;
    background: rgb(128, 62, 0);
    color: rgb(184, 5, 115);
 font-size: 25px;
 font-style: italic;
}

div.center{
    text-align: center;
}
.Content-box{  
    width: 500px;
    border: 15px solid rgb(210, 159, 255);
    padding: 50px;
    margin: auto;
    background-color: white;
    text-align: center;
}
#hobby-list{
    background-color: white;
}
#I1{
    text-align: center;
}
#forest{
    text-align: center;
}
button.go-back-btn{
    background-color: rgb(238, 158, 238);
    color: white;
    height: 95%;
    width: 25%;
}
div.home-btn{
text-align: center;
}
div.gallery-shw{
    text-align: center;
}
